# ~/.config/systemd/user/container-test2.timer
[Unit]
Description=Run container-test2.service every 59 minutes

[Timer]
OnCalendar=*-*-* *:01
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
