[Unit]
Description=test1 container (service)
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
ExecStart=/usr/bin/podman run \
    --rm \
    --name test1 \
    --network=slirp4netns \
    helheim/test1:latest
ExecStop=/usr/bin/podman stop test1

[Install]
WantedBy=default.target
