[Unit]
Description=Run test1 container
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
ExecStart=/usr/bin/podman run \
    --rm \
    --name test1 \
    helheim/test1:latest
ExecStop=/usr/bin/podman stop test1

[Install]
WantedBy=default.target
