# ~/.config/systemd/user/container-test2.service
[Unit]
Description=Hourly Python job in container test2
Wants=container-test2.timer

[Service]
Type=oneshot
#RemainAfterExit=yes
ExecStart=/usr/bin/podman run \
    --rm \
    --detach \
    --volume /etc/localtime:/etc/localtime:ro \
    --name test2 \
      helheim/test2:latest
