[Unit]
Description=test3 container (service)
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/podman run \
    --rm \
    --network=slirp4netns \
    --name test3 \
    helheim/test3:latest

[Install]
WantedBy=default.target
