# ~/.config/systemd/user/container-test2.timer
[Unit]
Description=Run container-test2.service every 59 minutes

[Timer]
OnUnitActiveSec=59min
AccuracySec=5min
Persistent=true

[Install]
WantedBy=timers.target
