# ~/.config/systemd/user/container-test2.service
[Unit]
Description=Run hourly Python job in container test2
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
# Remove any old container with the same name
ExecStartPre=/usr/bin/podman rm -f test2 >/dev/null 2>&1 || true

# Run the container to completion
ExecStart=/usr/bin/podman run --rm --name test2  helheim/test2:latest


[Install]
WantedBy=default.target
