# This timer is for triggering the trending of data

[Unit]
Description=periodic maintenance of electricity data (timer)

[Timer]
OnCalendar=*:01:30
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target
