# This timer is for triggering the trending of data

[Unit]
Description=periodic trending electricity data (timer)

[Timer]
OnCalendar=*:09/10
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target
