# This service executes a maintenance step
# so that the latest database is backup-ed etcetera.

[Unit]
Description=periodic maintenance of electricity data (service)
Wants=lektrix-trend-cp.timer
Wants=network-online.target
After=network-online.target

[Service]
ExecStartPre=/usr/bin/podman rm -f lektrix_trend_cp 2>/dev/null || true
# Execute the hourly trending script inside a rootless Podman container
ExecStart=/usr/bin/podman run \
    --name lektrix_trend_cp \
    --rm \
    --volume /etc/localtime:/etc/localtime:ro \
    --volume /srv/containers/lektrix/data:/app/data:rw \
    --volume /home/beheer/git/lektrix/bin:/app/scripts:ro \
    --volume /srv/containers/lektrix/www:/app/www:rw \
    lektrix_trend:helheim \
    /app/scripts/hourly.sh -maintenance

# Rootless Podman best practices
Type=simple
TimeoutStopSec=0
StandardOutput=null
StandardError=null
Restart=no
# RestartSec=5s
# StartLimitBurst=2
# StartLimitIntervalSec=1800

# [Install]
# WantedBy=default.target
