# This service does the same as `lektrix-trend.service` but adds a maintenance step before trending
# so that the latest database is backuped etcetera.


[Unit]
Description=periodic maintenance & trending electricity data (service)
Wants=lektrix-trend-cp.timer
Wants=network-online.target
After=network-online.target

[Service]
# Execute the hourly trending script inside a rootless Podman container
ExecStart=/usr/bin/podman run \
    --name lektrix-trend-cp \
    --rm \
    --volume /etc/localtime:/etc/localtime:ro \
    --volume /home/beheer/git/lektrix/bin:/app/scripts:ro \
    --volume /srv/containers/lektrix/data:/app/data:rw \
    --volume /srv/containers/lektrix/www:/app/www:rw \
    lektrix/trend:latest \
    /app/scripts/hourly.sh -maintenance

# Rootless Podman best practices
Type=simple
TimeoutStopSec=0
StandardOutput=null
StandardError=null
Restart=no
# RestartSec=5s
# StartLimitBurst=2
# StartLimitIntervalSec=1800

# [Install]
# WantedBy=default.target
