[Unit]
Description=periodic trending electricity data (service)
Wants=lektrix-trend.timer
Wants=network-online.target
After=network-online.target

[Service]
# Excecute the hourly trending script inside a rootless Podman container
ExecStart=/usr/bin/podman run \
    --name lektrix-trend \
    --rm \
    --volume /etc/localtime:/etc/localtime:ro \
    --volume /home/beheer/git/lektrix/bin:/app/scripts:ro \
    --volume /srv/containers/lektrix/data:/app/data:rw \
    --volume /srv/containers/lektrix/www:/app/www:rw \
    lektrix/trend:latest \
    ./scripts/hourly.sh

# Rootless Podman best practices
Type=simple
TimeoutStopSec=0
StandardOutput=null
StandardError=null

# [Install]
# WantedBy=default.target
