# This timer is for triggering the periodic collection of electricity data

[Unit]
Description=collecting electricity data (timer)

[Timer]
OnCalendar=*-*-* *:12,27,42,57
AccuracySec=10s

[Install]
WantedBy=timers.target
