# This timer is for triggering the periodic collection of electricity data

[Unit]
Description=collecting electricity data (timer)

[Timer]
OnCalendar=*-*-* *:13,28,43,58
AccuracySec=1m

[Install]
WantedBy=timers.target
