# This timer is for triggering the periodic collection of electricity data

[Unit]
Description=collecting electricity data (timer)

[Timer]
OnCalendar=*-*-* *:00/5
AccuracySec=1m

[Install]
WantedBy=timers.target
