[Unit]
Description=Run test12 pod (test1 + test2)
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
ExecStart=/usr/bin/podman pod create --name test12
ExecStart=/usr/bin/podman run --rm --pod test12 --name test1 helheim/test1:latest
ExecStart=/usr/bin/podman run --rm --pod test12 --name test2 helheim/test2:latest

ExecStop=/usr/bin/podman pod stop test12
ExecStop=/usr/bin/podman pod rm test12

[Install]
WantedBy=default.target

