[Unit]
Description=wireguard container
Wants=network-online.target
After=network-online.target

[Service]
# Always recreate the container to avoid stale state
ExecStartPre=/usr/bin/podman rm -f wireguard 2>/dev/null || true

ExecStart=/usr/bin/podman --log-level=error run \
    --name wireguard \
    --hostname "wireguard.helheim" \
    --network=host \
    --dns=192.168.2.3 \
    --rm \
    --cap-add=NET_ADMIN \
    --cap-add=SYS_MODULE \
    --env PEERS=3 \
    --env LOG_CONFS=true \
    --volume /etc/localtime:/etc/localtime:ro \
    --volume /srv/containers/wireguard/config:/config:Z \
      wireguard:helheim

ExecStop=/usr/bin/podman stop wireguard
StandardOutput=null
StandardError=null
Restart=on-failure
RestartSec=5

# Rootless Podman best practices
Type=simple

[Install]
WantedBy=default.target
